# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log
*.pot
*.pyc

# Django
/staticfiles/


# VSCode or PyCharm
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Ignore database
db.sqlite3

# Ignore uploaded images
/cache/
/media/
/media/cache
/media/product_images

# Ignore virtual environment
.venv/
venv/
env/

# Ignore environment variables file
.env
