# Core
Django>=4.2,<5.0

# WSGI server (production)
gunicorn

# Static files handling
whitenoise

# Env variables
python-dotenv

# If you later switch to PostgreSQL (optional, safe to include)
dj-database-url
psycopg2-binary
